.form {
  display: flex;
  border-top: 2px solid #d3d3d3;
  margin-top: 5px;
}

.input {
  border: none;
  padding: 7.5px;
  width: 80%;
  font-size: 0.9em;
  border-radius: 8px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979ff;
  margin: 0px;
  display: inline-block;
  border: none;
  width: 21%;
  font-size: 0.8em;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}

.sendButton:active {
  background: #2f68c4;
}

.hide {
  display: none;
}
