.menuContainer {
  display: flex;
  flex-direction: row;
  align-content: center;

  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;

  transition: 0.3s;
}

.menuContentContainer {
  height: 100%;
  width: 70%;
  background-color: #2b2b2f;
  overflow-y: auto;
  overflow: auto;
}

.menuShim {
  height: 100%;
  width: 30%;
}

.hiddenBM {
  position: absolute;
  top: 0;
  right: -400px;
  visibility: hidden;
}

.titleBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #2b2b2f;
  border-top-right-radius: 2.5px;
  border-top-left-radius: 2.5px;
  min-height: 45px;
}

.menuTitle {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-size: 18px;
}

.xIcon {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  cursor: pointer;
}

.xIcon:active {
  filter: invert(66%) sepia(0%) saturate(3429%) hue-rotate(139deg)
    brightness(105%) contrast(81%);
}

.menuContent {
  background-color: #919191;
  overflow-y: auto;
  overflow: auto;
  overflow-y: scroll;
  color: black;
  border-bottom-right-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
}

/* Mobiles */
@media (min-width: 0px) and (max-width: 1000px) {
  .menuContentContainer {
    width: 80%;
  }
  .menuShim {
    width: 20%;
  }
}

/* Midscreen */
@media (min-width: 1000px) and (max-width: 1500px) {
  .menuContentContainer {
    width: 30%;
  }
  .menuShim {
    width: 70%;
  }
}

/* Widescreen */
@media (min-width: 1501px) {
  .menuContentContainer {
    width: 30%;
  }
  .menuShim {
    width: 70%;
  }
}
