html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #1a1a1d;
  position: fixed;
}

#root {
  height: 100%;
}

.App {
  width: calc(var(--vw, 1vw) * 100);
  height: calc(var(--vh, 1vh) * 100);
  background-color: #1a1a1d;
}
